
  <div class="graph_container">
  <div>
  <div id="myChart"></div>
   <h2 class="heading">{{billable}}</h2>
  <div class="meter-left">{{billable_left}}</div>
  <div class="meter-right">{{billable_right}}</div>
</div>
  <div><div id="myChart2"></div>
  
  <h2 class="heading">{{fresher}}</h2>
  <div class="meter-left">{{fresher_left}}</div>
  <div class="meter-right">{{fresher_right}}</div>
  </div>
  <div><div id="myChart3"></div>
   <h2 class="heading">{{attrition}}</h2>
  <div class="meter-left">{{attrition_left}}</div>
  <div class="meter-right">{{attrition_right}}</div>
  </div>
  </div>
  <div class="graph_container">
    <div><div id="myChart4"></div>
      <h2 class="heading">{{trio}}</h2>
      <div class="meter-left">{{trio_left}}</div>
      <div class="meter-right">{{trio_right}}</div>
    </div>
    <div><div id="myChart5"></div>
    <h2 class="heading">{{hyperscale}}</h2>
    <div class="meter-left">{{hyperscale_left}}</div>
    <div class="meter-right">{{hyperscale_right}}</div>
    </div>
    <div><div id="myChart6"></div>
    <h2 class="heading">{{rotaion}}</h2>
    <div class="meter-left">{{rotaion_left}}</div>
  <div class="meter-right">{{rotaion_right}}</div>
  
  </div>
  </div>

